<header class="content-header">
  <h1><%= @profile.email %></h1>
</header>

<!-- Main content -->
<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title"><%= t :profile %></h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body">
      <dl class="dl-horizontal">
        <dt><%= t :email %> </dt>
        <dd><%= @profile.email %></dd>
        <dt><%= t :roles %></dt>
        <dd><%= @profile.role %></dd>
      </dl>
    </div><!-- /.box-body -->
  </div><!-- /.box -->

</section>
